---
layout: default
title: Mi Blog
published: true
---

<!-- This loops through the paginated posts -->
<div class="posts">
{% for post in paginator.posts %}
  <article class="post">
  	  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="date">
    Publicado el {{ post.date | date: "%e-%m-%Y" }}
  	  </div>
    
      <div class="entry">
        {{ post.excerpt }}
      </div>
      
	  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more btn btn-primary">Seguir leyendo...</a>
  </article>  
{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Recientes -</a>
  {% else %}
    <span class="previous">Recientes -</span>
  {% endif %}
  <span class="page_number ">Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">- Anteriores</a>
  {% else %}
    <span class="next ">- Anteriores</span>
  {% endif %}
</div>
