<!-- Añado mi piede página -->
 	<div class="barras-overflow" id="de-footer">
        <svg height="20" width="100%" viewBox="0 0 400 20" preserveAspectRatio="none">
            <polygon points="0,0 0,20 400,20 400,0" style="fill:#FDBF01" />

        </svg>
    </div>   
    
    <footer class="piedepagina" role="contentinfo">
        <div class="container py-1">
            <p>2017 © Rafael Comino Matas. Todos los derechos reservados</p>
            <ul class="redes-sociales">
                <li><a href="https://www.facebook.com/rafael.cominomatas"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.flickr.com/photos/rafaelcominomatas/"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                <li><a href="https://www.behance.net/rafacomino"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                <li><a href="https://www.tumblr.com/blog/rafacominomatas"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
                <li><a href="http://rafacm.deviantart.com/"><i class="fa fa-deviantart" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/user/RafaCominoMatas/videos"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="https://es.pinterest.com/cominomatas/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </footer>
