<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

<!-- premitir la precarga de CSSs -->
    <style>
      	nav .container a img {
    	height: 30px;
    	width: 30px;
    	order: -1;
		}
      	.texto-encabezado img {
    	width: 300px;
		}
    </style>
    <script>
        (function(w) {
            "use strict";
            var loadCSS = function(href, before, media) {
                var doc = w.document;
                var ss = doc.createElement("link");
                var ref;
                if (before) {
                    ref = before;
                } else {
                    var refs = (doc.body || doc.getElementsByTagName("head")[0]).childNodes;
                    ref = refs[refs.length - 1];
                }
                var sheets = doc.styleSheets;
                ss.rel = "stylesheet";
                ss.href = href;
                ss.media = "only x";
                function ready(cb) {
                    if (doc.body) {
                        return cb();
                    }
                    setTimeout(function() {
                        ready(cb);
                    });
                }
                ready(function() {
                    ref.parentNode.insertBefore(ss, (before ? ref : ref.nextSibling));
                });
                var onloadcssdefined = function(cb) {
                    var resolvedHref = ss.href;
                    var i = sheets.length;
                    while (i--) {
                        if (sheets[i].href === resolvedHref) {
                            return cb();
                        }
                    }
                    setTimeout(function() {
                        onloadcssdefined(cb);
                    });
                };
                function loadCB() {
                    if (ss.addEventListener) {
                        ss.removeEventListener("load", loadCB);
                    }
                    ss.media = media || "all";
                }
                if (ss.addEventListener) {
                    ss.addEventListener("load", loadCB);
                }
                ss.onloadcssdefined = onloadcssdefined;
                onloadcssdefined(loadCB);
                return ss;
            };
            if (typeof exports !== "undefined") {
                exports.loadCSS = loadCSS;
            } else {
                w.loadCSS = loadCSS;
            }
        }(typeof global !== "undefined" ? global : this));
        (function(w) {
            if (!w.loadCSS) {
                return;
            }
            var rp = loadCSS.relpreload = {};
            rp.support = function() {
                try {
                    return w.document.createElement("link").relList.supports("preload");
                } catch (e) {}
            };
            rp.poly = function() {
                var links = w.document.getElementsByTagName("link");
                for (var i = 0; i < links.length; i++) {
                    var link = links[i];
                    if (link.rel === "preload" && link.getAttribute("as") === "style") {
                        w.loadCSS(link.href, link);
                        link.rel = null;
                    }
                }
            };
            if (!rp.support()) {
                rp.poly();
                var run = w.setInterval(rp.poly, 300);
                if (w.addEventListener) {
                    w.addEventListener("load", function() {
                        w.clearInterval(run);
                    })
                }
            }
        }(this));
    </script>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i" as="style" onload="this.rel='stylesheet'"> 
	 <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i">
    </noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Josefin+Sans" as="style" onload="this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
    </noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" as="style" onload="this.rel='stylesheet'">
    <noscript>
     <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    </noscript>
	 <!-- Añadir bootstrap 4 -->    
     <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous" as="style" onload="this.rel='stylesheet'"> 
    <noscript>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    </noscript>
      <!-- Añadir Animate --> 
     <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" as="style" onload="this.rel='stylesheet'">
     <noscript>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    </noscript>
    <!-- Añadir mis estilos -->
     <link rel="preload" type="text/css" href="{{ site.baseurl }}/style.css" as="style" onload="this.rel='stylesheet'"/> 
    <noscript>
       <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    </noscript>
    <!-- Carga de favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.ico" >
    
    <!-- Carga de rss -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
