<div class="posts">
{% for post in site.posts %}
  <article class="card"> 
	  
	 <div class="card-block">
   
     <div class="entry card-text">
       		 {{ post.excerpt }}
      </div>
          
      <h3 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      
	  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more btn btn-primary">Seguir leyendo
    		<i class="fa fa-chevron-right" aria-hidden="true"></i>
    	  </a>
	</div>
  </article>  
{% endfor %}
</div>
