<!-- This loops through the paginated posts -->
<div class="recientes">
  <h3>Últimas entradas del blog</h3>
{% for post in site.posts limit:3 %}
  <aside>
  	  <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
      <div class="date">
    Publicado el {{ post.date | date: "%e-%m-%Y" }}
    </div>
  </aside>  
{% endfor %}
</div>

<div class="recientes">
  <a href="{{site.baseurl}}/categorias"><h3>Categorías</h3></a>
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>    
    <h4 class="category-head">{{ category_name }}</h4>
  </div>
{% endfor %}
</div>
