<!-- Muestra en la barra lateral los 3 últimos posts-->
<div class="recientes">
  <h3>Últimas entradas</h3>
{% for post in site.posts limit:3 %}
  <aside>
  	  <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
      <div class="date">
    Publicado el {{ post.date | date: "%e-%m-%Y" }}
    </div>
  </aside>  
{% endfor %}
</div>

<!-- Muestra las categorías -->

<div class="recientes">
  <a href="{{site.baseurl}}/categorias"><h3>Categorías</h3></a>
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>    
    <h5 class="category-head">{{ category_name }}</h5>
  </div>
{% endfor %}
</div>

<!-- Muestra las Tags -->

<div class="recientes">
  <a href="{{site.baseurl}}/etiquetas"><h3>Etiquetas</h3></a>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span id="etiquetas">
    <i style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </i>
</span>
{% endfor %}
</div>
